# {{ singleSeries.title }}
## Description: {{ singleSeries.description }}
## Dates
### Start Year: {{ singleSeries.startYear }}
### End Year: {{ singleSeries.endYear }}
## Rating: {{ singleSeries.rating }}
## Type: {{ singleSeries.type }}
## Modifed: {{ singleSeries.modified }}
## [Thumbnail]({{ singleSeries.thumbnail.path }}.{{ singleSeries.thumbnail.extension }})
## Totals
### Comics: {{ singleSeries.comics.available }}
### Stories: {{ singleSeries.stories.available}}
### Events: {{ singleSeries.events.available}}
### Creators: {{ singleSeries.creators.available }}
## Timeline
### Previous Series: {{ singleSeries.previous.name }}
#### [Link]({{ singleSeries.previous.resourceURI }})
### Next Series: {{ singleSeries.next.name }}
#### [Link]({{ singleSeries.next.resourceURI }})
## Modified: {{ singleSeries.modified }}